# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.idb
*.pdb
*.ilk
*.ifc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vs
.tmp
logs


bin/Debug/x64
bin/Release/x64/*

